<html>
  <body>

    <div style="margin: auto; width: 73%; min-width: 420px; max-width: 740px; border-radius: 4px; padding: 20px 20px 10px 20px; border: 1px solid #dadada; font-family: sans-serif;">

      <img src="https://app.discovernci.org/discovernci_media/logo.png" target="_blank" width="64" style="width: 64px;" />

      <h2 style="margin-top: 10px;">{% block title %}{% endblock %}</h2>

      {% block body %}{% endblock %}

    </div>

    <div style="margin: auto; width: 73%; min-width: 420px;  max-width: 740px; padding: 10px 20px; font-family: sans-serif;">
      <p style="line-height: 1.4em; font-size: 13px; color: #a3a3a3; font-family: sans-serif;">Nature's Classroom Institute and Montessori School • est. 1995
        <br />Learning through experience. Growing through expression.
        <br />https://discovernci.org • info@nciw.org • (262) 363-2815</p>
      <p>
        <a
          href="https://www.facebook.com/NaturesClassroomInstitute/"
          target="_blank"
          rel="noopener noreferrer"
          style="margin-left: 15px; color: #5bb3ff;"
        >
          <i class="fas fa-user"></i>Like us on Facebook
        </a>
        &nbsp;&nbsp;
        <a
          href="https://www.instagram.com/naturesclassroominstitute/"
          target="_blank"
          rel="noopener noreferrer"
          style="margin-left: 15px; color: #5bb3ff;"
        >
          Follow us on Instagram
        </a>
      </p>
    </div>

  </body>
</html>
